<template>
  <header class="app-header">
    <router-link class="app-header__title" to="/">
      <img src="@assets/logo.png" width="36" />
      <h2 class="app-header__title__text">Private Notes</h2>
    </router-link>
    <div class="app-header__theme">
      <n-button circle @click="onThemeChange">
        <template #icon>
          <n-icon>
            <svg-icon :path="themeIcon" />
          </n-icon>
        </template>
      </n-button>
    </div>
  </header>
</template>

<script lang="ts" setup>
import {
  mdiMoonWaningCrescent as mdiMoon,
  mdiWeatherSunny as mdiSun,
} from "@mdi/js";
import { computed } from "@vue/reactivity";

// Types
import { Theme } from "@typings/theme.types";

interface Props {
  /** App theme */
  theme: Theme;
}

const props = withDefaults(defineProps<Props>(), {
  theme: "light-theme",
});

const emit = defineEmits(["change-theme"]);

const themeIcon = computed<string>(() =>
  props.theme === "light-theme" ? mdiSun : mdiMoon,
);

/**
 * Change the theme
 */
const onThemeChange = () => {
  emit("change-theme");
};
</script>

<style lang="scss" scoped>
$header-padding: 16px;

.app-header {
  position: "relative";
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: #{$spacing * 4}px;
  padding: $header-padding;
  background-color: var(--background-color-secondary);
}

.app-header__title {
  display: flex;
  align-items: center;
  text-decoration: none;

  img {
    position: relative;
    top: -4px;
  }
}

.app-header__title__text {
  color: white;
  text-align: center;
}

.app-header__theme {
  position: absolute;
  right: $header-padding;
}
</style>

<style>
.light-theme .app-header {
  background-color: #6e85b2;
}
</style>
