<template>
  <footer class="app-footer">
    <div class="app-footer__left">
      <p class="app-footer__creator">
        Created with
        <svg-icon :path="icons.mdiHeart" :size="16" class="is-pink" /> | View at
        <a href="https://gitlab.com/kendallroth/private-notes" target="_blank">
          <svg-icon :path="icons.mdiGit" :size="16" class="is-orange" />
        </a>
      </p>
    </div>
    <div class="app-footer__center">
      <p class="app-footer__copyright">Kendall Roth &copy; {{ year }}</p>
    </div>
    <div class="app-footer__right">
      <p class="app-footer__version">v{{ version }}</p>
    </div>
  </footer>
</template>

<script lang="ts" setup>
import { mdiGit, mdiHeart } from "@mdi/js";

// Utilities
import config from "@config";

const icons = {
  mdiGit,
  mdiHeart,
};
const version = config.app.version;
const year = new Date().getFullYear();
</script>

<style lang="scss" scoped>
.app-footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  padding: 24px;
  background-color: var(--background-color-secondary);
  color: #333639;

  > * {
    width: calc(100% / 3);
  }

  .app-footer__left {
    text-align: left;
  }
  .app-footer__center {
    text-align: center;
  }
  .app-footer__right {
    text-align: right;
  }
}

.app-footer__creator {
  display: flex;
  align-items: center;

  a {
    display: flex;
  }

  svg {
    margin: 0 4px;
  }

  .is-pink {
    color: hotpink;
  }
  .is-orange {
    color: orangered;
  }
}

.app-footer__version {
  font-family: monospace;
}
</style>
