@import "./vars";
@import "./reset";
@import "./spacing";
@import "./utilities";

:root {
  --background-color-primary: #efefef;
  --background-color-secondary: #ffffff;
  --text-color-primary: #222222;
}

:root.dark-theme {
  --background-color-primary: #222222;
  --background-color-secondary: #2d2d30;
  --text-color-primary: #dddddd;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "MulishVariable", sans-serif;
  color: #2c3e50;
  background-color: var(--background-color-primary);
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color-primary);
}

// Naive UI overrides
.n-card {
  overflow: hidden;
}
