<template>
  <div class="page-title">
    <component :is="titleType" :class="`page-title--${titleType}`">
      <slot />
    </component>
    <n-button v-if="hasHelpSlot" circle disabled size="tiny" type="info">
      <template #icon>
        <n-icon>
          <svg-icon :path="icons.mdiHelp" />
        </n-icon>
      </template>
    </n-button>
  </div>
</template>

<script lang="ts" setup>
import { mdiHelp } from "@mdi/js";
import { computed } from "@vue/reactivity";
import { useSlots } from "vue";

/** Title component type */
export type TitleType = "h1" | "h2" | "h3" | "h4";

interface Props {
  /** Title type */
  type: TitleType;
}

const props = withDefaults(defineProps<Props>(), {
  type: "h3",
});

const slots = useSlots();
const hasHelpSlot = Boolean(slots.help);

const icons = {
  mdiHelp,
};

const titleType = computed<TitleType>(() => props.type);
</script>

<style lang="scss" scoped>
.page-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

// Create styles for each typography title type
@each $type, $properties in $text-titles {
  .page-title--#{$type} {
    font-size: map-get($properties, "size");
    font-weight: map-get($properties, "weight");
    line-height: map-get($properties, "height");
    // text-transform: uppercase;
  }
}
</style>
