<template>
  <div class="action-bar">
    <div
      v-if="slots.left || (props.left && slots.default)"
      class="action-bar__left"
    >
      <slot v-if="slots.left" name="left" />
      <slot v-else name="default" />
    </div>
    <div
      v-if="slots.right || (props.right && slots.default)"
      class="action-bar__right"
    >
      <slot v-if="slots.right" name="right" />
      <slot v-else name="default" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useSlots } from "vue";

interface Props {
  /** Whether to align to the left (single side only) */
  left?: boolean;
  /** Whether to align to the right (single side only) */
  right?: boolean;
}

const props = withDefaults(defineProps<Props>(), {
  left: false,
  right: false,
});

const slots = useSlots();
</script>

<style lang="scss" scoped>
.action-bar {
  display: flex;
  align-items: center;
}

.action-bar__left {
  margin-right: auto;

  > :deep *:not(:first-child) {
    margin-left: #{$spacing * 2}px;
  }
}

.action-bar__right {
  margin-left: auto;

  > :deep *:not(:last-child) {
    margin-right: #{$spacing * 2}px;
  }
}
</style>
