<template>
  <n-button size="large" @click="copyText">
    <template #icon>
      <n-icon>
        <svg-icon :path="icons.mdiCopy" />
      </n-icon>
    </template>
    Copy
  </n-button>
</template>

<script lang="ts" setup>
import copy from "clipboard-copy";
import { mdiContentCopy } from "@mdi/js";
import { useMessage } from "naive-ui";

interface Props {
  /** Text to copy */
  text: string;
}

const props = defineProps<Props>();

const message = useMessage();

const icons = {
  mdiCopy: mdiContentCopy,
};

/**
 * Copy provided text
 */
const copyText = (): void => {
  if (!props.text) return;

  copy(props.text);
  message.info("Copied to clipboard");
};
</script>
