<template>
  <svg-icon-base :path="path" type="mdi" v-bind="$attrs" />
</template>

<script lang="ts" setup>
// @ts-ignore
import SvgIconBase from "@jamescoyle/vue-icon";

interface Props {
  /** SVG icon path */
  path: string;
}

defineProps<Props>();
</script>
