<template>
  <div class="page">
    <page-title class="page__title" type="h4">Decrypted Note</page-title>

    <n-alert
      class="page__warning"
      title="Note has been destroyed now that is has been read!"
      type="warning"
    />

    <n-input
      ref="inputRef"
      id="note-encrypt__note"
      :value="note"
      class="page__note"
      readonly
      type="textarea"
    />

    <div class="page__actions">
      <n-button size="large" @click="selectText">Select</n-button>
      <copy-button :text="note" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { useRouter } from "vue-router";
import { ref } from "@vue/reactivity";

// Components
import { CopyButton } from "@components/layout";

interface Props {
  /** Decrypted note */
  note: string;
}

const props = defineProps<Props>();

const router = useRouter();

const inputRef = ref<HTMLFormElement | null>(null);

// Redirect back to home page when no decrypted note is included (ie. on refresh)
if (!props.note) {
  router.replace("/");
}

/**
 * Select decrypted note text
 */
const selectText = (): void => {
  const elementRef = inputRef.value?.$refs?.textareaElRef;
  elementRef?.focus();
  elementRef?.select();
};
</script>

<style lang="scss" scoped>
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.page__note {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 400px;
}

.page__warning {
  margin-bottom: #{$spacing * 2}px;
}

.page__actions {
  display: flex;
  align-items: center;
  margin-top: #{$spacing * 2}px;

  > *:not(:first-child) {
    margin-left: #{$spacing * 2}px;
  }
}
</style>
