<template>
  <div class="page">
    <div v-if="page.loading" class="page__loader">
      <n-spin description="Loading note" size="large" />
    </div>

    <template v-else-if="page.error">
      <page-title class="page__title" type="h4">
        Error Decrypting Note
      </page-title>
      <template v-if="page.error === 'deleted'">
        <n-alert title="Note destroyed" type="error">
          This note has already been read and destroyed ##s ago
          <br />
          If you read this note but forgot to save it, you will need to ask
          whoever sent it to resend it. If you have not read this note, someone
          else may have!
        </n-alert>
      </template>
      <template v-else-if="page.error === 'not_found'">
        <n-alert title="Note not found" type="error">
          Note could not be found with id <strong>{{ noteId }}</strong>
        </n-alert>
      </template>
      <template v-else-if="page.error === 'invalid_key'">
        <n-alert title="Note link incomplete" type="error">
          Note could not be decrypted; the decryption key may be invalid or
          missing.
          <!-- TODO: Include input for entering note link again -->
        </n-alert>
      </template>
    </template>

    <template v-else>
      <page-title class="page__title" type="h4">
        Decrypt and destroy?
      </page-title>
      <n-spin :show="page.decrypting">
        <n-alert
          class="page__warning"
          title="Are you sure you want to decrypt this note?"
          type="warning"
        >
          Note will be destroyed after decryption (can only be read once)!
        </n-alert>
      </n-spin>
      <action-bar class="mt-md">
        <template #right>
          <n-button
            :disabled="page.decrypting"
            size="large"
            @click="cancelDecryption"
          >
            Cancel
          </n-button>
          <n-button
            :disabled="page.decrypting"
            size="large"
            type="warning"
            @click="confirmDecryption"
          >
            Confirm
          </n-button>
        </template>
      </action-bar>
    </template>
  </div>
</template>

<script lang="ts" setup>
import { useMessage } from "naive-ui";
import { useRoute, useRouter } from "vue-router";
import { reactive, ref } from "@vue/reactivity";

// Utilities
import { CryptoService, NoteService } from "@services";
import { sleep } from "@utilities/sleep";

enum PageError {
  DELETED = "deleted",
  INVALID_KEY = "invalid_key",
  NOT_FOUND = "not_found",
}

const message = useMessage();
const route = useRoute();
const router = useRouter();

interface IPage {
  confirmed: boolean;
  decrypting: boolean;
  error: PageError | null;
  loading: boolean;
}

const noteId = ref<string | null>(null);
const page = reactive<IPage>({
  confirmed: false,
  decrypting: false,
  error: null,
  loading: false,
});

/**
 * Fetch basic encryptedNote details (not encrypted data)
 */
const fetchNoteBasic = async (): Promise<void> => {
  page.loading = true;

  const { id } = route.params;
  if (!id || Array.isArray(id)) {
    page.error = PageError.NOT_FOUND;
    return;
  }

  noteId.value = id;

  // DEBUG
  await sleep(1000);

  const basicNote = await NoteService.fetch(id);
  page.loading = false;

  if (!basicNote) {
    // TODO: Handle missing encryptedNote (via alert?)
    page.error = PageError.NOT_FOUND;
    return;
  }

  // TODO: Immediately hide ID in URL by redirecting somewhere else???
};

fetchNoteBasic();

/**
 * Cancel decrypting the encryptedNote
 */
const cancelDecryption = (): void => {
  router.push("/");
};

/**
 * Confirm decrypting (and destroying) the encryptedNote
 */
const confirmDecryption = async (): Promise<void> => {
  page.confirmed = true;
  page.decrypting = true;

  // DEBUG
  await sleep(1000);

  // TODO: Validate hash secret (display link prompt if failed)
  // TODO: Attempt decryption (display link prompt if failed)
  // TODO: Redirect if successful

  const encryptedNote = await NoteService.read(noteId.value as string);

  // TODO: Immediately hide ID in URL by redirecting somewhere else???

  if (!encryptedNote) {
    page.error = PageError.NOT_FOUND;
    page.decrypting = false;
    return;
  }

  if (encryptedNote.destroyedAt) {
    page.error = PageError.DELETED;
    page.decrypting = false;
    return;
  }

  const secret = route.hash?.slice(1);
  if (!secret) {
    page.error = PageError.INVALID_KEY;
    page.decrypting = false;
    return;
  }

  const decryptedData = CryptoService.decrypt(encryptedNote.data, secret);
  page.decrypting = false;

  if (!decryptedData) {
    page.error = PageError.INVALID_KEY;
    return;
  }

  router.replace({
    name: "NoteDisplay",
    params: {
      note: decryptedData,
    },
  });
};
</script>

<style lang="scss" scoped>
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.page__loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: #{$spacing * 5}px;
}

.page__note {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 400px;
}
</style>
