<template>
  <div class="page">
    <page-title class="page__title" type="h4">
      New Note
      <template #help />
    </page-title>

    <n-input
      v-model:value="form.fields.note"
      id="note-encrypt__note"
      :disabled="form.flags.submitting"
      class="page__note"
      maxlength="5000"
      placeholder="Enter note here..."
      show-count
      type="textarea"
    />

    <action-bar class="mt-md">
      <template #left>
        <n-button disabled size="large">Options</n-button>
      </template>
      <template #right>
        <n-button
          :disabled="!form.fields.note || form.flags.submitting"
          size="large"
          type="primary"
          @click="onSubmit"
        >
          Encrypt
        </n-button>
      </template>
    </action-bar>
  </div>
</template>

<script lang="ts" setup>
import { useRouter } from "vue-router";
import { reactive } from "@vue/reactivity";

// Utilities
import config from "@config";
import { CryptoService, NoteService } from "@services";

const router = useRouter();

/** Form data */
const form = reactive({
  fields: {
    note: "",
  },
  flags: {
    submitting: false,
  },
});

const onSubmit = (): void => {
  const { note } = form.fields;
  if (!note) return;

  // NOTE: Secret MUST never be sent to API (only sent via link)!
  const id = CryptoService.randomString(12);
  const secret = CryptoService.randomString(12);
  const encryptedNote = CryptoService.encrypt(note, secret);

  const link = `${config.app.appUrl}/note/${id}#${secret}`;

  // TODO: Limit to 10,000 chars
  // TODO: Limit password to alpha-numeric chars

  form.flags.submitting = true;
  form.fields.note = "";

  NoteService.create({
    id,
    data: encryptedNote,
    destroyedAt: null,
  });

  router.push({
    name: "NoteCreated",
    params: { link },
  });

  setTimeout(() => {
    form.flags.submitting = false;
  }, 500);
};
</script>

<style lang="scss" scoped>
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.page__note {
  min-width: 100%;
  max-width: 100%;
  min-height: 200px;
  max-height: 400px;
}
</style>
