<template>
  <div class="page">
    <page-title class="page__title" type="h4">
      Note Created
      <template #help />
    </page-title>

    <n-alert
      class="mb-sm"
      title="Note will self-destruct after being read!"
      type="warning"
    />

    <n-alert class="page__link" title="Encrypted Link" type="default">
      <template #icon>
        <svg-icon :path="icons.mdiLink" />
      </template>
      <span ref="linkRef">{{ link }}</span>
    </n-alert>

    <action-bar class="mt-md">
      <template #left>
        <copy-button :text="link" />
      </template>
      <template #right>
        <n-button size="large" type="error" @click="showDeletePrompt = true">
          Delete now
        </n-button>
      </template>
    </action-bar>

    <n-modal
      v-model:show="showDeletePrompt"
      content="Are you sure you want to delete this note?"
      negative-text="No"
      positive-text="Yes"
      preset="dialog"
      title="Confirm Deletion"
      type="warning"
      @positive-click="deleteLink"
    />
  </div>
</template>

<script lang="ts" setup>
import { mdiLink } from "@mdi/js";
import { useMessage } from "naive-ui";
import { onMounted } from "vue";
import { ref } from "@vue/reactivity";
import { useRouter } from "vue-router";

// Components
import { CopyButton } from "@components/layout";

interface Props {
  /** Generated secure link */
  link: string;
}

const props = defineProps<Props>();

const message = useMessage();
const router = useRouter();
const linkRef = ref<Node | null>(null);

const icons = {
  mdiLink,
};

// Redirect back to home page when no generated link is found (ie. on refresh)
if (!props.link) {
  router.replace("/");
}

onMounted(() => {
  if (!linkRef.value) return;

  // Select encrypted link text for ease-of-use
  // Source: https://stackoverflow.com/a/987376/4206438
  const selection = window.getSelection();
  const range = document.createRange();
  range.selectNodeContents(linkRef.value);
  selection?.removeAllRanges();
  selection?.addRange(range);
});

const showDeletePrompt = ref(false);
/**
 * Delete the link immediately after creating
 */
const deleteLink = (): void => {
  message.error("Not implemented!");
};
</script>

<style lang="scss" scoped>
$card-padding: 8px;

.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.page__card {
  &:deep .n-card__content {
    padding: 0;
  }
}

.page__link {
  :deep .n-alert-body__content {
    font-family: monospace;
  }
}
</style>
