<template>
  <n-message-provider placement="bottom">
    <the-app-header :theme="userTheme" @change-theme="toggleTheme" />
    <router-view />
    <the-app-footer />
  </n-message-provider>
</template>

<script lang="ts" setup>
import { ref } from "@vue/reactivity";

// Components
import { TheAppFooter, TheAppHeader } from "@components/single";

// Utilities
import { ThemeService } from "@services";

// Types
import { Theme } from "@typings/theme.types";

const userTheme = ref<Theme>("light-theme");

const setTheme = (theme: Theme): void => {
  userTheme.value = theme;
  document.documentElement.className = theme;

  ThemeService.save(theme);
};

const toggleTheme = () => {
  const newTheme =
    userTheme.value === "light-theme" ? "dark-theme" : "light-theme";
  setTheme(newTheme);
};

const loadTheme = (): void => {
  const theme = ThemeService.load();

  setTheme(theme);
};

loadTheme();
</script>

<style lang="scss"></style>
